* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: #06181f; */
  /* background: #1b1b06; */
  background: #1f0615;
}

.container {
  position: relative;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .icon {
  width: 200px;
}

.container .icon path {
  fill: transparent;
  stroke: width 1;
  /* stroke: #31e8ff; */
  stroke: #ebd834;
}

.container .icon path {
  stroke-dasharray: 1560;
  stroke-dashoffset: 0;
}

.container .icon:hover path {
  animation: animate-icon 1s linear forwards;
}
@keyframes animate-icon {
  0% {
    stroke-dashoffset: 0;
    stroke-width: 0.2;
  }
  40% {
    stroke-dashoffset: 1560;
  }
  80% {
    stroke-dashoffset: 3120;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 3120;
    /* fill: #31e8ff; */
    /* fill: #ebd834; */
    fill: #eb34eb;
  }
}

